<?xml version='1.0' encoding='utf-8'?>
<widget id="io.mimhelpa.academia" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>!MIM HELPA!</name>
    <description>MIM HELPA ACADEMIA</description>
    <author email="rodrigo@mimhelpa.io" href="https://academia.mimhelpa.io">
        Rodrigo macedo da silva
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Fullscreen" value="true" />
     <preference name="StatusBarOverlaysWebView" value="true" />
</widget>
